body{
    margin: 0;
    padding: 15px;
    background: rgb(31, 28, 28);
}
.contenu{
    height: 150px;
    width: 50%;
    background: rgb(8, 26, 34);
    color: #fff;
    text-align: center;
    align-content: center;
    margin: auto;
    .main-content{
        transform: translateY(50%);
        .tog{
            font-size: 2rem;
            margin-bottom: 5px;
            .heure{
                color: rgb(12, 170, 157);
                font-weight: bold;
            }
        }
        #cacherBtn{
            border: none;
            padding: 10px 15px;
            outline: none;
            background: rgb(12, 170, 157);
            color: #FFF;
            font-weight: bold;
            font-size: 1rem;
        }
    }
}